:root {
  --baseColor: #ffc600;
  --baseSpacing: 50px;
  --baseBlur: 10px;
  --baseBorder: 30px;
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

img {
  filter: blur(var(--baseBlur));
  background: var(--baseColor);
  padding: var(--baseSpacing);
  border-radius: var(--baseBorder);
}

.hl {
  color: var(--baseColor);
}
